# Node.js
node_modules
npm-debug.log
yarn.lock
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Секреты
.env
*.env

# Git
.git
.gitignore

# Архивы
*.tar.gz
*.zip

# IDE
.vscode
.idea

# Media
media
frontend/node_modules